<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yisingle.study.map.one">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--7a91a3b1ccdf395223bcf4f511d5697c-->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="7a91a3b1ccdf395223bcf4f511d5697c" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".demo.LocationMarkerMapActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".demo.MoveMarkerMapActivty"
            android:screenOrientation="portrait" />
        <activity
            android:name=".demo.TextMarkeActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".demo.PointMarkMapActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".demo.PathPlaningMapActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>